.room-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.room-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.room-button {
    margin-top: auto;
}

.room-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
}